<section>
  <div class="container">
    <div class="row">
      <div class="col-12 order__container">
        <h4>Order</h4>
        <div class="order__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Quam quisque id diam vel quam elementum. Augue ut lectus arcu bibendum. Facilisis leo vel
          fringilla est ullamcorper eget. At consectetur lorem donec massa sapien faucibus et molestie.
        </div>
      </div>
    </div>
  </div>
</section>
